*~
/*.pdf
/.travis.key
/*-example.tex
/*-example.ppt
/*-example.odt
/*-example-figures/
/*-latex.ppt
/*-latex.odt
/windows-installer/*.msi
/windows-installer/*.exe
/windows-installer/*.zip
/windows-installer/*.sublime-package
