*~
*.pyc
/.travis.key
/.build
/Makefile.local
/*.pdf
/*.aux
/*.bbl
/*.blg
/*.log
/*.out
/*.synctex.gz
/*.toc
/*.nav
/*.snm
/*.run.xml
/*-blx.bib
/*.ppt
/*.odt
/*.html
/*-example.tex
/*-example-figures/
/*-example-cache/
/*-r-example.markdown
/*-example-filtered.markdown
/parsed-references.bib
/figures/*-eps-converted-to.pdf
/windows-installer/*.msi
/windows-installer/*.exe
/windows-installer/*.zip
.Rproj.user
.Rhistory
.RData
